{% assign sortedAssignments = site.assignments | sort: 'due_date' %}
{% assign projectPoints = 0 %}
{% assign homeworkPoints = 0 %}
{% assign examPoints = 90 %}
{% assign totalPoints = examPoints %}
{% for assignment in sortedAssignments %}
    {% if assignment.type == "project" %}
        {% assign projectPoints = projectPoints | plus: assignment.points %}
        {% assign totalPoints = totalPoints | plus: assignment.points %}
    {% elsif assignment.type == "homework"%}
        {% assign homeworkPoints = homeworkPoints | plus: assignment.points %}
        {% assign totalPoints = totalPoints | plus: assignment.points %}
    {% endif %}
{% endfor %}
{% assign projectPercent = projectPoints | times: 1.0 | divided_by: totalPoints | times: 100 | round  %}
{% assign homeworkPercent = homeworkPoints | times: 1.0 | divided_by: totalPoints | times: 100 | round %}
{% assign examPercent = examPoints | times: 1.0 | divided_by: totalPoints | times: 100 | round %}

<table class="grading">
        <tr>
            <th>Projects ({{ projectPercent }}%)</th>
            <th>{{ projectPoints }} Points</th>
        </tr>
        <!-- project assignments -->
        {% for assignment in sortedAssignments %}
            {% if assignment.type == "project" %}
                <tr>
                    <td>
                        {{ assignment.abbreviation }}: {{ assignment.title }}
                    </td>
                    <td>{{ assignment.points }} points</td>
                </tr>
            {% endif %}
        {% endfor %}
        <tr>
            <th>Homework ({{ homeworkPercent }}%)</th>
            <th>{{ homeworkPoints }} Points</th>
        </tr>
        <!-- homework assignments -->
        {% for assignment in sortedAssignments %}
            {% if assignment.type == "homework" %}
                <tr>
                    <td>
                        {{ assignment.abbreviation }}: {{ assignment.title }}
                    </td>
                    <td>{{ assignment.points }} points</td>
                </tr>
            {% endif %}
        {% endfor %}

        <tr>
            <th>Exams ({{ examPercent }}%)</th>
            <th>{{ examPoints }} points</th>
        </tr>
        <tr>
            <td>Exam 1</td>
            <td>45 points</td>
        </tr>
        <tr>
            <td>Exam 2</td>
            <td>45 points</td>
        </tr>
    </tbody>
</table>