.subtitle {
    margin: -20px 0px 15px 0px;
    color: #676767;
    font-family:"Campton Extra Light";
    // color: $lightpurple;
    font-size: 1.2em;
}

.module-image {
    max-width: 30%;
    border-radius: 5px;
    padding: 5px;
    border: solid 1px #CCC;
    float: left;
    margin: 0px 10px 0px 0px;
}

.highlighter-rouge {
    margin-bottom: 20px;
}

.nu-button, .nu-button:visited, .nu-button:active {
    &:hover {
        background: $lightpurple;
        border: none;
    }
    background: $purple;
    border: none;
    color: #fff !important;
    margin: 20px .5em 20px 0;
    padding: .8em 1em .7em 1em;
    align-self: flex-start;
    text-transform: uppercase;
    transition: 0.3s ease;
    text-decoration: none;
    i {
        margin-left: 5px;
    }
}