.one-column {
    header, nav, footer, main {
        display: flex;
        // border: dotted 1px #CCC;
    }
    header, nav, footer {
        justify-content: center;
        align-items: center;
    }
    footer > div {
        margin-top: 80px;
        margin-bottom: 20px;
    }
    
    main {
        min-height: 80vh;
        flex-direction: column;
        padding-left: 15vw;
        padding-right: 15vw;
    }
}

@media (max-width: 800px) {
    .one-column, .two-column {
        .container {
            grid-template-columns: 1fr;
            grid-template-rows: 65px auto auto auto;
            grid-template-areas:
                "top"
                "menu"
                "main"
                "bottom";
            margin: 0px;
            grid-row-gap: 0px;
            grid-column-gap: 0px;
            overflow: auto;
        }
        .desktop { display: none; }
        .mobile { display: flex; }

        aside, nav { display: none; }
        footer, header { border: none; }
        header, nav {
            top: 0px;
            z-index: 500;
            position: fixed;
            width: 100%;
            .fa-bars {
                color: white;
            }
        }
        header {
            height: 65px;
            background: #444 !important;
            box-shadow: 0 1px 3px rgba(0,0,0,0.52), 0 1px 2px rgba(0,0,0,0.64);
            color: white;
            padding-top: 8px;
            align-items: flex-start;
            justify-content: flex-start;
            
            i { font-size: 24px; }
            a {
                padding: 10px;
                margin: 5px;
                text-decoration: none;
                color: white;
            }
            h1 { font-size: 1.3em; }
        }
        nav {
            &.sticky {
                height: auto;
                top: 65px;
            }
            top: 65px;
            background: white;

            ul {
                flex-direction: column;
                width: 100%;
                padding: 0px;
                margin: 0px;
                box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

                li {
                    border-bottom: solid 1px #EEE;
                    margin-top: 0px;
                    
                    &.active {
                        border-bottom: solid 1px #EEE;
                        background: $mutedblue;
                        a {
                            color: white;
                        }
                        &:hover, &:active {
                            background: $mutedblue;
                        }
                    }
                    a {
                        display: flex;
                        padding: 10px 18px;
                    }
                    &:hover, &:active {
                        border-bottom: solid 1px #EEE;
                        background: #E9E9E9;
                    }
                }
            }
        }

        // header {
        // }
        main {
            // background: #EEE;
            min-height: 82vh;
            padding: 80px 20px 20px 20px;
        }
    }
}