.projects-container {
    h2 {
        margin-bottom: 30px;
    }
}

.project-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    .image {
        width: 30%;
        padding-top: 15px;
        img {
            width: 100%;
            border: solid 1px #CCC;
        }
        a {
            display: flex;
            border: solid 9px transparent;
        }
        a:hover {
            border: solid 9px $mutedblue;
        }
        a:hover img {
            border: solid 1px $mutedblue; 
        }
    }
    .data {
        padding-left: 40px;
        width: 70%;
        // h3 {
        //     padding-top: 10px !important;
        //     margin-top: -10px !important;
        // }
    }
}


@media (max-width: 1000px) {
    .project-container {
        .image { width: 40%; }
        .data { width: 60%; }
    }
}

@media (max-width: 800px) {
    .project-container {
        .image { display: none; }
        .data {
            padding-left: 0px;
            width: 100%;
        }
    }
}