$twocolHeaderHeight: 135px;
.two-column {
    h1, h2, h3, h4 {
        padding-top: 85px;
        margin-top: -70px;
        z-index: -1;
    }
    padding: 0px;
    
    .desktop { display: flex; }
    .mobile { display: none; }
    header {
        background: white;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 100;
        h1 {
            z-index: 100; 
        }
    }
    nav {
        height: 60px;
        background: white;
        border-bottom: dotted 1px #CCC;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 100;
    }
    aside {
        &.sticky {
            top: 60px;
            position: fixed;
            height: calc(100vh - 60px);
        }
        background: #F6F6F6;
        position: absolute;
        top: $twocolHeaderHeight;
        left: 0px;
        height: calc(100vh - $twocolHeaderHeight);
        width: 250px;
        overflow-y: auto;
        padding-bottom: 40px;
        h3 {
            margin-top: 0px;
        }
        ol {
            padding: 0px;
            margin: 0px;
        }
        .side-menu {
            width: 100%;
            padding: 0px;
            a {
                font-size: 1.05em;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                padding-right: 20px !important;
            }
            a:hover {
                background: #EEE;
            }
            >li {
                a {
                    display: block;
                    &.active {
                        background: $mutedblue;
                        color: white;
                    }
                }
                >a:first-child {
                    padding: 4px 0px 3px 10px;
                    font-weight: 500;
                }
                ol {
                    margin-top: 0px;
                    margin-bottom: 10px;
                    li {
                        a {
                            color: #444;
                            font-size: 0.9em;
                            padding-left: 20px;
                        }

                        ol li {
                            a {
                                color: #666;
                                font-size: 0.9em;
                                padding-left: 45px;
                            }
                            ol li > a {
                                padding-left: 65px;
                            }
                        }
                    }
                }
            }
            li {
                margin-top: 0px;
                list-style-type: none;
                line-height: 1.5em;
            }
        }
    }
    article {
        width: calc(100vw - 250px);
        margin-left: 250px;
        padding: 40px;
        padding-right: 15vh;
    }
}

@media (max-width: 800px) {
    .two-column {
        main > article {
            margin-top: auto;
            width: auto;
            margin: 3vh;
            padding: 10px;
        }
        header {
            height: 65px;
            background: #444 !important;
            box-shadow: 0 1px 3px rgba(0,0,0,0.52), 0 1px 2px rgba(0,0,0,0.64);
            color: white;
            h1 { font-size: 1.3em; }
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
        }
        nav {
            display: none;
            height: auto;
            top: 65px;
        }
        .desktop { display: none; }
        .mobile { display: flex; }
    }
    nav, header, aside, article {
        transition: all 0s;
        transform: translateY(0) !important;
    }
}