---
layout: two-column
---

<section class="projects-container">
{% assign counter = 1 %}
{% for section in page.sections %}
    <h2 id="h2_{{counter}}">Section {{section.name}} with {{section.ta}}</h2>

    {% for team in section.teams %}
        <section class="project-container">
            <section class="image">
                {% if team.image_url %}
                    {% if team.report %}
                        <a href="{{team.report}}" target="_blank"><img src="{{team.image_url}}" /></a>
                    {% else %}
                        <img src="{{team.image_url}}" />
                    {% endif %}
                {% endif %}
            </section>
            <section class="data">
                <h3 id="h3_{{counter}}">{{team.title}}</h3>
                <p>{{team.description}}</p>
                <ul>
                    {% if team.team_members %}
                        <li>Team Members: {{team.team_members}}</li>
                    {% endif %}
                    {% if team.report %}
                        <li><a href="{{team.report}}" target="_blank">Final Report</a></li>
                    {% endif %}
                    {% if team.prototype %}
                        <li><a href="{{team.prototype}}" target="_blank">Prototype</a></li>
                    {% endif %}
                    {% if team.slides_url %}
                        <li><a href="{{team.slides_url}}" target="_blank">Slides</a></li>
                    {% endif %}
                    {% if team.video_url %}
                        <li><a href="{{team.video_url}}" target="_blank">Demo</a></li>
                    {% endif %}
                </ul>
            </section>
        </section>
        {% assign counter = counter | plus: 1 %}
    {% endfor %}
{% endfor %}
</section>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>